@import "tailwindcss";

/* =========================================
   DEFAULT
========================================= */

body {
  margin: 0;
  background-color: #142018;
}


/* =========================================
   MAOMAO THEME
========================================= */

.theme-maomao {
  --app-bg: #142018;
  --app-surface: #22352a;
  --app-card: #1d3024;
  --app-primary: #7fa36a;
  --app-focus: #bbe69a;

  --app-text: #f2ead8;
  --app-text-muted: #829b7d;

  --app-border: #344d3b;
  --app-border-light: #49634d;
}


/* =========================================
   JINSHI THEME
========================================= */

.theme-jinshi {
  --app-bg: #181421;
  --app-surface: #29213a;
  --app-card: #211a30;
  --app-primary: #9b7edb;
  --app-focus: #b99be8;

  --app-text: #eee7f7;
  --app-text-muted: #a99bbd;

  --app-border: #493b5f;
  --app-border-light: #62527a;
}


/* =========================================
   APP COLORS
========================================= */

.bg-app-bg {
  background-color: var(--app-bg);
}

.bg-app-surface {
  background-color: var(--app-surface);
}

.bg-app-card {
  background-color: var(--app-card);
}

.bg-app-primary {
  background-color: var(--app-primary);
}

.text-app-text {
  color: var(--app-text);
}

.text-app-primary {
  color: var(--app-primary);
}

.text-app-text-muted {
  color: var(--app-text-muted);
}

.border-app-border {
  border-color: var(--app-border);
}

.border-app-border-light {
  border-color: var(--app-border-light);
}

.focus-border-app-focus:focus {
  border-color: var(--app-focus);
}